.fancyInput {
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

.fancyInput > * {
  padding-inline: 0.25rem;
  padding-block: 0.5rem 0.25rem;
  font-size: 1.05rem;
}

.fancyInput input {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: hsl(var(--grey-300));
  border-bottom: 1px solid hsl(var(--grey-300));
  outline: none;
}

.fancyInput input:focus {
  border-bottom-color: hsl(var(--off-white));
  border-bottom: 1px solid hsl(var(--off-white));
}

.fancyInput label {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: font-size 250ms ease-in-out, color 250ms ease-in-out,
    transform 250ms ease-in-out;
  color: hsl(var(--grey-300));
}

.focused {
  font-size: 0.9rem;
  color: hsl(var(--off-white)) !important;
  transform: translateY(-115%) !important;
}
