.postInfo {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: hsl(var(--grey-300));
  font-size: clamp(0.8rem, 3vw, 0.9rem);
}

.profilePic {
  flex-shrink: 0;
  width: 1.5rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
}

.postInfo > span {
  font-weight: 600;
}

.spaceBetween {
  margin-left: auto;
}
